:root {
  --var-primary: #2f6b4f;
  --var-black: #000000;
  --var-white: #ffffff;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: transparent;
}

#slider {
  background-color: var(--var-primary);
  padding-bottom: 120px;
  /* background: #eee url("../images/img-1.png") no-repeat;
  background-size: cover; */
}

.slider-photo {
  margin-top: -70px;
}

@media (min-width: 540px) {
  #slider {
    padding-bottom: 140px;
  }

  .slider-photo {
    margin-top: -100px;
  }
}

@media (min-width: 768px) {
  #slider {
    padding-bottom: 280px;
  }

  .slider-photo {
    margin-top: -180px;
  }
}

@media (min-width: 1024px) {
  #slider {
    padding-bottom: 280px;
  }

  .slider-photo {
    margin-top: -220px;
  }
}

@media (min-width: 1024px) {
  #slider-content h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 1024px) {
  #slider-content h1 {
    font-size: 2rem;
  }
}

.gray-description {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}

.my-button {
  color: var(--var-black);
  font-weight: 500;
  min-width: 200px;
}

@media (min-width: 1024px) {
  .my-button {
    width: 22%;
  }
}

@media (max-width: 1024px) {
  .my-button {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .my-button {
    width: 60%;
  }
}

#numbers p {
  color: #919191;
}

#services {
  background-color: #f9f9f9;
}

#portofolios {
  margin-top: 80px;
}

#reviews {
  margin-top: 80px;
}

.service {
  background-color: var(--var-white);
  padding: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.description {
  color: #7c7c7c;
  font-size: 0.8rem;
  font-weight: 400;
}

.client-info img {
  border-radius: 50%;
}

.project,
.client {
  width: 100%;
}

@media (min-width: 768px) {
  .project,
  .client {
    width: 30%;
  }
}

#contact-us {
  background-color: var(--var-primary);
  margin-top: 100px;
}

footer {
  margin-top: 40px;
  padding: 80px 0;
}

footer a {
  color: #7c7c7c;
}
